<!--views/partials/donation-form.handlebars -->
    <!-- TITLE -->
    <div class="form-group">
      <label for="donation">Donation</label><br>
      <input class="form-control" id="donation" type="text" name="donation" value="{{donation.donation}}"/>
    </div>
    <!-- Date Given -->
    <div class="form-group">
      <label for="dateGiven">Date Given:</label><br>
      <input class="form-control" id="dateGiven" type="text" name="createdAt" value="{{donation.dateGiven}}"/>
    </div>
    <div class="form-group">
      <label for="charity">Charity:</label><br>
      <input class="form-control" id="charity" type="text" name="charity" value="{{donation.charity}}"/>
    </div>
