<!--views/partials/donation-form.handlebars -->
    <!-- TITLE -->
    <p>
      <label for="donation">Donation</label><br>
      <input type="text" name="donation" value="{{donation.donation}}"/>
    </p>
    <!-- Date Given -->
    <p>
      <label for="dateGiven">Date Given:</label><br>
      <input type="text" name="dateGiven" value="{{donation.dateGiven}}"/>
    </p>
    <p>
      <label for="charity">Charity:</label><br>
      <input type="text" name="charity" value="{{donation.charity}}"/>
    </p>
