<!--views/donation-edit.handlebars -->
<form method="POST" action="/donations/{{donation._id}}?_method=PUT">
  <fieldset>
    <legend>Edit Donation</legend>
    {{> donations-form}}
  </fieldset>

  <!-- CANCEL ADN SUBMIT BUTTON -->
  <p>
    <a href="/donations">Cancel</a><br><button type="submit">Save Donation</button>
  </p>

</form>
