<!--views/donation-new.handlebars -->
<form method="POST" action="/donations">
  <fieldset>
    <legend>New Donation</legend>
    {{> donations-form}}
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Donation</button>
  </p>

</form>
